{% extends 'layout/base.html' %}

{% block title %}Trang Chủ{% endblock %}
{% block content %}


<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for p in products %}
    <div class="col" style="padding:0.7rem">
        <div class="card">
            <div style="padding-top: 100%; position: relative; overflow: hidden;">
                <a href="/products/{{p.id}}">
                    <img class="img-fluid rounded position-absolute top-0 start-0 w-100 h-100" src={{ p.image }}
                         alt="Card image">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ p.name }}</h4>
                <p class="card-text"> {{ p.price }} VNĐ</p>
                <a href="/products/{{p.id}}" class="btn btn-primary">Xem chi tiết</a>
                <a href="#" class="btn btn-danger">ĐẶT HÀNG</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}